@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/static/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/static/Outfit-ExtraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit/static/Outfit-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px 100px;
    font-family: 'Outfit', sans-serif;
}